:root {

  --dark-background: #282c34;

  --white: #f1feff;

}

.form {
  display: flex;
  flex-direction: column;
}

.btn-play {
  margin-left: 1.5rem;
  margin-right: 1rem;
}

.btn-style {
  background-color: var(--dark-background);
  border-radius: 5px;
  color: var(--white);
  padding: 0.4rem 0.6rem;
}

input {
  background-color: var(--dark-background);
  border-radius: 5px;
  color: var(--white);
  margin-bottom: 1rem;
  padding: 0.4rem;
}
