:root {

  --dark-background: #282c34;

  --white: #f1feff;
}

header {
  background-color: var(--dark-background);
  color: var(--white);
  display: flex;
  height: 12vh;
  justify-content: space-around;
}

.avatar {
  align-self: center;
  height: 60px;
  width: 60px;
}

.container {
  background-color: var(--dark-background);
  color: var(--white);
  display: flex;
  height: 12vh;
  justify-content: space-around;
}

.score {
  align-self: center;
}

.player-name {
  align-self: center;
  margin-left: 1rem;
}
